server.modules = ( "mod_access",
                   "mod_cgi",
		   "mod_fastcgi",
                   "mod_accesslog",
                   "mod_rewrite",
                   "mod_staticfile" )

server.document-root = "LIGHTY_DIR/htdocs"
server.errorlog      = "LIGHTY_DIR/logs/lighttpd.error.log"
server.tag = "dimdim web server (based on lighttpd-1.4.18)"
server.pid-file = "LIGHTY_DIR/dimdim.pid"
accesslog.filename   = "LIGHTY_DIR/logs/access.log"
server.port=8080


#cgi stuff
cgi.assign = ( ".cgi" => "/bin/bash" )

# files to check for if .../ is requested
index-file.names            = ( "index.php", "index.html",
                                "index.htm", "default.htm" )

## set the event-handler (read the performance section in the manual)
# server.event-handler = "freebsd-kqueue" # needed on OS X

# mimetype mapping
mimetype.assign             = (
  ".pdf"          =>      "application/pdf",
  ".sig"          =>      "application/pgp-signature",
  ".spl"          =>      "application/futuresplash",
  ".class"        =>      "application/octet-stream",
  ".ps"           =>      "application/postscript",
  ".torrent"      =>      "application/x-bittorrent",
  ".dvi"          =>      "application/x-dvi",
  ".gz"           =>      "application/x-gzip",
  ".pac"          =>      "application/x-ns-proxy-autoconfig",
  ".swf"          =>      "application/x-shockwave-flash",
  ".tar.gz"       =>      "application/x-tgz",
  ".tgz"          =>      "application/x-tgz",
  ".tar"          =>      "application/x-tar",
  ".zip"          =>      "application/zip",
  ".mp3"          =>      "audio/mpeg",
  ".m3u"          =>      "audio/x-mpegurl",
  ".wma"          =>      "audio/x-ms-wma",
  ".wax"          =>      "audio/x-ms-wax",
  ".ogg"          =>      "application/ogg",
  ".wav"          =>      "audio/x-wav",
  ".gif"          =>      "image/gif",
  ".jpg"          =>      "image/jpeg",
  ".jpeg"         =>      "image/jpeg",
  ".png"          =>      "image/png",
  ".xbm"          =>      "image/x-xbitmap",
  ".xpm"          =>      "image/x-xpixmap",
  ".xwd"          =>      "image/x-xwindowdump",
  ".css"          =>      "text/css",
  ".html"         =>      "text/html",
  ".htm"          =>      "text/html",
  ".js"           =>      "text/javascript",
  ".asc"          =>      "text/plain",
  ".c"            =>      "text/plain",
  ".cpp"          =>      "text/plain",
  ".log"          =>      "text/plain",
  ".conf"         =>      "text/plain",
  ".text"         =>      "text/plain",
  ".txt"          =>      "text/plain",
  ".dtd"          =>      "text/xml",
  ".xml"          =>      "text/xml",
  ".mpeg"         =>      "video/mpeg",
  ".mpg"          =>      "video/mpeg",
  ".mov"          =>      "video/quicktime",
  ".qt"           =>      "video/quicktime",
  ".avi"          =>      "video/x-msvideo",
  ".asf"          =>      "video/x-ms-asf",
  ".asx"          =>      "video/x-ms-asf",
  ".wmv"          =>      "video/x-ms-wmv",
  ".bz2"          =>      "application/x-bzip",
  ".tbz"          =>      "application/x-bzip-compressed-tar",
  ".tar.bz2"      =>      "application/x-bzip-compressed-tar",
  # default mime type
  ""              =>      "application/octet-stream",
 )

#
# generating for 10 fcgi instances
#
fastcgi.server = (
    "/screenshare/" =>
    ((	"bin-path" => "DIMDIM_REFLECTOR_DIR/dimdimReflector",
        "socket" => "/var/run/dimdim-fcgi-screenshare-socket",
        "check-local" => "disable",
        "min-procs" => 1,
        "max-procs" => 1
    )),
    "/screenshareadmin/" =>
    ((	"bin-path" => "DIMDIM_REFLECTOR_DIR/dimdimReflector",
        "socket" => "/var/run/dimdim-fcgi-screenshare-socket",
        "check-local" => "disable",
        "min-procs" => 1,
        "max-procs" => 1
    )),
    "/screenshareviewer/" =>
    ((	"bin-path" => "DIMDIM_REFLECTOR_DIR/dimdimReflector",
        "socket" => "/var/run/dimdim-fcgi-screenshare-socket",
        "check-local" => "disable",
        "min-procs" => 1,
        "max-procs" => 1
    )),
    "/screensharequery/" =>
    ((	"bin-path" => "DIMDIM_REFLECTOR_DIR/dimdimReflector",
        "socket" => "/var/run/dimdim-fcgi-screenshare-socket",
        "check-local" => "disable",
        "min-procs" => 1,
        "max-procs" => 1
    )),
    "/screensharestatus/" =>
    ((	"bin-path" => "DIMDIM_REFLECTOR_DIR/dimdimReflector",
        "socket" => "/var/run/dimdim-fcgi-screenshare-socket",
        "check-local" => "disable",
        "min-procs" => 1,
        "max-procs" => 1
    ))
)


 
